<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD-Club Info</title>
    <link rel="stylesheet" href="/css/semantic.min.css">
    <link rel="stylesheet" href="/css/style2.css">
</head>

<body>
    <div class="wrapper">
        <div class="ui massive menu">

            <div class="ui container">
                <div class="header item">
                    <div class="link">
                        <a href="/">Home</a>
                    </div>
                </div>
                <a class="item">
                    Blog
                </a>
                <a class="item">
                    Contact
                </a>
                <a class="item">
                    About
                </a>
            </div>
        </div>
        <br>

        <div class="ui container">
            <form action="/add" class="ui form" method="POST">
                <div class="ui three fields">
                    <div class="field">
                        <label for="clubName" class="ui header green">Club name</label>
                        <input type="text" name="clubName">
                    </div>
                    <div class="field">
                        <label for="country" class="ui header green">Country</label>
                        <input type="text" name="country">
                    </div>
                    <div class="field">
                        <label for="yearFounded" class="ui header green">Founded in</label>
                        <input type="text" name="yearFounded">
                    </div>
                </div>
                <div class="ui three fields">
                    <div class="field">
                        <label for="cupsWon" class="ui header green">How many league cup?</label>
                        <input type="text" name="cupsWon">
                    </div>
                    <div class="field">
                        <label for="players" class="ui header green">Players</label>
                        <input type="text" name="players">
                    </div>
                    <div class="field">
                        <label for="coach" class="ui header green">Name of the Coach</label>
                        <input type="text" name="coach">
                    </div>
                </div>
                <div class="ui fluid field">
                    <input type="submit" value="Save" class="ui button green fluid">
                </div>
            </form>
            <br>
            <!-- </div> -->
            <!-- <form action="/home/:ctry" method="get"> -->
            <!-- <div class="ui container"> -->
            <div class="ui three fields div-filter">
                <div class="field">
                    <input type="text" name="ctry" class='filter' id='txtClubName' placeholder="Filter by Club Name"
                        onkeyup="filterByClubName()">
                </div>
                <div class="field">
                    <input type="text" name="ctry" class='filter' id='txtCountry' placeholder="Filter by Country"
                        onkeyup="filterByCountry()">
                </div>
            </div>
            <!-- </div> -->
            <!-- </form> -->
            <table class="ui green table">
                <thead>
                    <th>Club Name</th>
                    <th>Country</th>
                    <th>Founded</th>
                    <th>Cups Won</th>
                    <th>Players</th>
                    <th>Coach</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </thead>
                <tbody>

                    <% clubList.forEach(function(club){ %>
                        <tr>
                            <td><%- club.clubName %></td>
                            <td><%- club.country %></td>
                            <td><%- club.founded %></td>
                            <td><%- club.cupsWon %></td>
                            <td><%- club.players %></td>
                            <td><%- club.coach %></td>
                            <td><a class="ui purple button" href="/edit/<%- club._id %>"><i
                                        class="edit outline icon"></i></a></td>
                            <td><a class="ui red button" href="/delete/<%- club._id %>"><i class="minus icon"></i></a>
                            </td>
                        </tr>
                        <% }); %>
                </tbody>
            </table>
        </div>
    </div>




    <script src="/js/myscript.js">
    </script>
    <script src=" /js/semantic.min.js"></script>
</body>

</html>